@tailwind utilities;
@tailwind base;
@tailwind components;

html {
	@apply text-stone-800;
}

@layer base {
	h1 {
		@apply text-5xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-xl;
	}
	input {
		@apply border-primary bg-primary w-full rounded-xl px-3 py-2 focus:outline-none;
	}
	input[type='checkbox'] {
		@apply h-6 w-6 shrink-0 appearance-none bg-white bg-opacity-60 p-0 checked:bg-blue-600/60;
	}
	select {
		@apply border-primary bg-primary w-full appearance-none rounded-xl px-3 py-2 focus:outline-none;
	}
	button {
		@apply flex items-center justify-center gap-2 rounded-xl border-2 border-black bg-black px-6 py-2 font-thin text-white transition-all hover:bg-white hover:text-black disabled:cursor-not-allowed;
	}
	code {
		@apply border-primary rounded-sm bg-neutral-200 bg-opacity-60 p-2 text-sm;
	}
	a {
		@apply underline underline-offset-4 hover:opacity-80;
	}
	blockquote {
		@apply border-primary;
	}
	.bg-primary {
		@apply bg-white dark:bg-black;
	}
	.bg-secondary {
		@apply bg-neutral-300 dark:bg-neutral-700;
	}
	.border-primary {
		@apply border-2 border-neutral-200 dark:border-neutral-800;
	}
	.text-secondary {
		@apply text-neutral-600 dark:text-neutral-400;
	}
}

@layer utilities {
	.smooth-stop {
		transition: animation-play-state 1s ease;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
